*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body{
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* margin-bottom: 1rem; */
   background-color: rgba(0, 255, 255, 0.151);
   position: fixed;
   color: #f0e5e5;
}

.navbar .logo img {
    cursor: pointer;
    width: 37%; 
    height: 25px;
    width: 160px;
}

.navbar .nav-items {
    width: 37%;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    font-weight: 600;
    gap: 13px;

}

.navbar .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
}
.nav-right .contact-sales {
    font-size: medium;
    font-weight: 600;
}

.start-free-btn .nav-btn {
    padding: 8px;
    background-color:#f1f1f1;
    border-radius: 20px;
    color:  #08090B;
}

.img-part .dark-bg-img {
  z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
     object-fit: cover;
}
.img-part .dark-bg-img .dark-img{
       background-position: 50%;
    background-repeat: no-repeat;

}