*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
:root{
    --primary-color:#f7f6f6;
    --graycolor:#e9e7e7;
}
body{
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* margin-bottom: 1rem; */
   background-color: rgba(0, 255, 255, 0.151);
   position: fixed;
   color: #f0e5e5;
}

.navbar .logo img {
    cursor: pointer;
    width: 37%; 
    height: 25px;
    width: 160px;
}

.navbar .nav-items {
    width: 37%;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    font-weight: 600;
    gap: 13px;

}

.navbar .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
}
.nav-right .contact-sales {
    font-size: medium;
    font-weight: 600;
}

.start-free-btn .nav-btn {
    padding: 8px;
    background-color:#f1f1f1;
    border-radius: 20px;
    color:  #08090B;
}
.nav-btn:hover {
    background-color: var(--graycolor);
    cursor: pointer;
}

.herosection {
    background-image: url(./images/bg-dark.svg); 
    width: 100vw;
    height:800px;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* z-index: -1; */
}



.herosection .content {
  align-items: center;
 width: 50%; 
 min-height: 700px;
 gap: 20px; 
}

 .content .new {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
padding: 4px 4px 4px 4px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
}

 .content .new .p1 {
    padding: 5px;
   background-color: rgb(44, 153, 59);
   border-radius: 20px;
   color: var(--primary-color);
   font-size: 15px;
  font-weight: bold;
}

 .content .new .p2 {
    color: var(--primary-color);
    font-weight: bolder;
    background: none;
}
.angle-icon-arrow {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    padding: 40px 40px;
    gap: 20px;
}
.heading h1 {
    font-size: 40px; 
}
.heading .email {
   display: flex;
  align-items: center;
  padding: 6px; 
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 50px; 
  width: 400px; 
  position: relative;
}

.heading .email .email-input {
   flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
 
  z-index: 5;
}
.email-input::placeholder {
    color: var(--primary-color);
}


.email .start-now-btn {
  background: var(--primary-color);
  color: #1a1a1a;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
.start-now-btn:hover {
    background-color:var(--graycolor) ;
}