*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
:root{
    --primary-color:#f7f6f6;
    --graycolor:#afabab;
    --green-1:#18E299;
    --green-2:#90ECC5;
    --smoke:#08090B;
}
body{
    overflow-x: hidden;
    background-color: #000000;
}
.navbar {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* margin-bottom: 1rem; */
   background-color: rgba(0, 255, 255, 0.151);
   position: fixed;
   color: #f0e5e5;
}

.navbar .logo img {
    cursor: pointer;
    width: 37%; 
    height: 25px;
    width: 160px;
}

.navbar .nav-items {
    width: 37%;
    display: flex;
    /* justify-content: ; */
    align-items: center;
    font-weight: 600;
    gap: 13px;
    cursor: pointer;
}

.navbar .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 100px;
}
.nav-right .contact-sales {
    font-size: medium;
    font-weight: 600;
}

.start-free-btn .nav-btn {
    padding: 8px;
    background-color:#f1f1f1;
    border-radius: 20px;
    color:  #08090B;
}
.nav-btn:hover {
    background-color: var(--graycolor);
    cursor: pointer;
}

.herosection {
    background-image: url(./images/bg-dark.svg); 
    width: 100vw;
   /* height: 100vh; */
   min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    /* z-index: -1; */
    /* padding: 600px; */
    padding-top: 100px;
}

.herosection .content {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
 width: 50%; 
 /* min-height: 700px; */
  gap: 20px; 
  margin-top: 40px;
  
}

 .content .new {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
   padding: 2px 4px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
}

 .content .new .p1 {
    padding: 5px;
   background-color: rgb(44, 153, 59);
   border-radius: 20px;
   color: var(--primary-color);
   font-size: 15px;
  font-weight: bold;
}

 .content .new .p2 {
    color: var(--primary-color);
    font-weight: bolder;
    background: none;
}
.angle-icon-arrow {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    /* padding: 40px 40px; */
    gap: 20px;
}
.heading h1 {
    font-size: 50px; 
    padding-top: 40px;
}
.heading .email {
  display: flex;
  align-items: center;
  padding: 4px; 
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 50px; 
  width: 400px; 
  position: relative;
  margin-bottom: 100px;
}

.heading .email .email-input {
   flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
}
.email-input::placeholder {
    color: var(--primary-color);
}


.email .start-now-btn {
  background: var(--primary-color);
  color: #1a1a1a;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}
.start-now-btn:hover {
    background-color:var(--graycolor) ;
}

/* .startGuide-img-container {  
    display: flex;
    flex-direction: column;          (original)
  width: 70%;
  padding: 100px;
  scale: 1.4;
  gap: 50px;
} */

.startGuide-img-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1100px; 
    margin: 0 auto; 
}

.startGuide-img-container img {
    width: 100%; 
    height: auto;
    border-radius: 20px;
    scale: 1.1;
    border: 1px solid rgba(3, 3, 3, 0.5);
     border-bottom: none;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
      
}

/* .startGuide-img-container img {
 background-size: cover;
  border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */

.trusted {
    width: 100%;
    border-top: 1px solid rgba(3, 3, 3,0.5);
}

.intelligence-age-part  {
    color: var(--primary-color);
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intelligence-age-part  h1 {
  font-size: 2.4rem;
}
.intelligence-age-part  p {
    gap: 30px;
    line-height: 23px;
    color: var(--graycolor);
}

.card-section-1 {
    width: 100%;
    height: auto;
    padding: 100px 100px;
    margin-top: 1.2rem;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}
.card-1, .card-2 {
 border: 1px solid rgba(255, 255, 255, 0.082); 
 object-fit:contain;
 border-radius: 20px;
}

.card-section-2 {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.158); 
 border-radius: 20px;

}

.card-section-2 .assistant-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    gap: 30px;
 
}
.card-section-2 .assistant-part h2 {
   color: var(--primary-color);
}
.card-section-2 .assistant-part .p-head {
    color: var(--green-1);
}
.card-section-2 .assistant-part .p-desc {
    color: var(--graycolor);
    font-size: 16px;
    line-height: 23px;
}

.card-section-2 .assistant-video {
    margin-top: 40px;
    border-radius: 30px; 
      overflow: hidden; 
      border: 1px  solid rgba(255, 255, 255, 0.1); 
}

.assistant-video video {
    width: 900px;
    height: auto; 
    display: block; 
    border-radius: 30px; 
}